<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <style>
        input.ng-dirty.ng-invalid {
            box-shadow: 0px 0px 2px red;
        }

    </style>
</head>
<body>
    <a href="#/ajouter">Ajouter</a>
    <a href="#/">Lister</a>
    <div ng-view></div>
    <script type="text/ng-template" id="/views/contact-add.html">
        <form name="form" ng-submit="ajouter()" novalidate>
            <div>
                Prénom : <input name="prenom" ng-model="contact.prenom" required>
            </div>
            <div ng-show="form.$submitted || form.prenom.$dirty">
                <div ng-show="form.prenom.$error.required">Le prénom est obligatoire</div>
            </div>
            <div>
                Nom : <input ng-model="contact.nom" required>
            </div>
            <div>
                <button type="submit">+</button>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="/views/contact-list.html">
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="contact in contacts" ng-cloak>
                <td>{{contact.prenom}}</td>
                <td>{{contact.nom}}</td>
                <td>
                    <button ng-click="supprimer($index)">-</button>
                </td>
            </tr>
        </table>
    </script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script>
        (function () {
            'use strict';

            var app = angular.module('app', ['ngResource', 'ngRoute']);

            app.config(function($routeProvider) {
                $routeProvider.when('/', {
                    templateUrl: '/views/contact-list.html',
                    controller: 'ContactCtrl'
                });

                $routeProvider.when('/ajouter', {
                    templateUrl: '/views/contact-add.html',
                    controller: 'ContactAddCtrl'
                });
            });

            app.factory('Contact', function($resource) {
                return $resource('http://localhost:3000/api/v1/contacts/:contactId', {contactId:'@_id'});
            });

            app.controller('ContactAddCtrl', function ($scope, Contact) {
                $scope.ajouter = function() {
                    var contact = new Contact($scope.contact);

                    contact.$save(function() {
                        
                    });
                };
            });

            app.controller('ContactCtrl', function ($scope, Contact) {
                $scope.contacts = Contact.query();

                $scope.supprimer = function(i) {
                    $scope.contacts[i].$delete(function() {
                        $scope.contacts.splice(i, 1);
                    });

                };
            });
        }());
    </script>
</body>
</html>
